[Unit]
Description=dBranch IPFS service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/ipfs daemon --enable-pubsub-experiment
Restart=on-failure
User=ipfs
Group=ipfs

[Install]
WantedBy=multi-user.target
