[Unit]
Description=dBranch Backend services
After=network-online.target

[Service]
ExecStart=/usr/local/bin/dbranch-backend run
Restart=on-failure
User=ipfs
Group=ipfs

[Install]
WantedBy=multi-user.target
